@{
    ViewBag.Title = "Claim Poker";
}

<div class="jumbotron" style="background-color: green; color: white; overflow: hidden; height: 240px">
    <img style="float: right; width: 400px" src="../../img/pokerhand.png" />
    <h1 style="font-family: serif">Claim Poker</h1>
    <p class="lead">Welcome to Claim Poker! Built using ASP.NET</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>5 Card Draw</h2>
        <p>Five-card Draw is one of the most classic poker games there is. Play against one, two, three, or four computers.</p>
        <p><a class="btn btn-default" href="http://localhost:50270/FiveCardDraw/Welcome">Play now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Blackjack</h2>
        <p>The object of the game is for the player to draw cards totaling closer to 21, without going over.</p>
        <p><a class="btn btn-default" href="http://localhost:50270/Blackjack/Welcome">Play now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>War</h2>
        <p>Play against a computer. Both players flip one card and the player with the higher card takes both cards.</p>
        <p><a class="btn btn-default" href="http://localhost:50270/War/Welcome">Play now &raquo;</a></p>
    </div>
</div>